<h3>Search</h3>

  <%= form_tag(articles_path, method: "get") do %>
    <%= text_field_tag :search, nil, placeholder: "Search articles", class: "form-control" %>
    <%= submit_tag "", style: "display: none;" %>
  <% end %>

<h1>Article index page</h1>

<% @articles.each do |article| %>
  <%= link_to article do %>
    <h4><%= article.title %></h4>
  <% end %>
  <p><%= article.body %></p><br>
<% end %>
